html{
  height: 100%;
  display: inline-flex;
  justify-content: center;
  background-image: url(imperial.jpg);
  background-repeat: no-repeat;
  background-size: 1400px 1000px;
  background-position: center;
}
.pint {
  height: 100%;
  margin: 0;
  /*background-color: #DBE036;*/
  /*background-color: white;*/
  /*border-color: black;*/
  /*border-style: solid;*/
  /*border-width: 1px;*/
}
.foam{
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-align: center;
background-color: white;
margin: 0;
}
.searchDiv{
  height: 100%;
  /*background-color: black;*/
}
form{
  display: table;
  }
p{
  display: table-row;
  font-size: 20px;
}
label{
  display:table-cell;
  border-spacing: 10px;
}
input{
  display: table-cell;
  border-spacing: 10px;

}
.dir{
  line-height: 1.5;
}

a.nav{
  color: black;
}

.nav:link{

  background-color: #a8610b;
  border-color: black;
  border-style: solid;
  border-width: 2px;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   display: inline-flex;
   margin-bottom: 10px;
}
.nav:hover{
  background-color: gray;
}
button{
  height: 30px;
  width:auto;
  background-color: #a8610b;
}
button:hover{
  background-color: #b7b0a7;
;
}
select{
  background-color: white;
}
a.results{
  color: black;
}
a.results:hover{
  color: brown;
}
input{
  font-size: 16px;
}
.warning{
  font-size: 16px;
}
