html{
  bacground-color = white;
  height: 100%;
  display: flex;
  justify-content: center;
}
.pint{
  height: 100%;
  margin: 0;
  background-color: #A5B30C;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.foam{
  border-color: black;
  border-style: solid;
  border-width: 2px;
  text-align: center;
background-color: white;
margin: 0;
}
form{
  display: table;
  }
p{
  display: table-row;
}
label{
  display:table-cell
}
input{
  display: table-cell;
}
.dir{
  line-height: 1.5;
}
