<div ng-controller='directionsController'>
  <a href="#search">Back to Search</a>
  <a href="#profile">Profile</a>
  <a href="#login">login</a>
  <div ng-controller="directionsController">
  <!--show displayPets on load-->
<div ng-init="displayDirections()"></div>
<h2>{{name}}</h2>
<h3>{{address}}</h3>
<button ng-click="visited()">Visited</button>
<p class='dir' ng-repeat="directions in direction"><span ng-bind-html="directionResults(directions.html_instructions)"></span>
  for {{directions.distance.text}}</p>

</div>

</div>
