<div ng-controller='loginController'>
<div ng-hide="showUser">
<p>Input Your Age</p><input type="number" ng-model="age" placeholder=""></input>
<button ng-click="newAge()">Submit</button>
</div>
<div ng-show="showUser">
  <div ng-hide="showLogin">
  <input type="button" ng-click="logIn()" value="logIn">
</div>
<div ng-show="showLogin">
  <input type="button" ng-click="logOut()" value="Log Out">
  <div class="navBar">
    <a class="nav" href="#/login">Login</a>
  <a class="nav" href="#/search">Search</a>
  <a class="nav" href="#/profile">Profile</a>
</div>
  <p>{{displayName}}</p>
</div>
</div>
</div>
