<div ng-controller='loginController'>
<div ng-hide="showUser">
<p>Input Your Age</p><input type="number" ng-model="age" placeholder=""></input>
<button ng-click="newAge()">Submit</button>
</div>
<div ng-show="showUser">
  <div ng-hide="showLogin">
  <input type="button" ng-click="logIn()" value="logIn">
</div>
<div ng-show="showLogin">
  <input type="button" ng-click="logOut()" value="Log Out">
  <ul>
  <li><a href="#search">Search</a></li>
  <li><a href="#profile">Profiles</a></li>
  <p>{{displayName}}</p>
</ul>
</div>
</div>
</div>
