<div ng-controller='profileController'>
  <li><a href="#/search">Search</a></li>
  <li><a href="#/login">login</a></li>

  <h2>Hi, {{name}}</h2>
  <h3>Breweies visited</h3>
  {{displayName}}

  <p ng-repeat="name in getName">{{name.name}}
  <input type="radio" ng-model="rank" value="1" ng-change='newRank(rank, newLocation(name.place_id))'>1</input>
  <input type="radio" ng-model="rank" value="2" ng-change='newRank(rank, newLocation(name.place_id))'>2</input>
  <input type="radio" ng-model="rank" value="3" ng-change='newRank(rank, newLocation(name.place_id))'>3</input>
  <input type="radio" ng-model="rank" value="4" ng-change='newRank(rank, newLocation(name.place_id))'>4</input>
  <input type="radio" ng-model="rank" value="5" ng-change='newRank(rank, newLocation(name.place_id))'>5</input>
  </p>

</div>
