<div ng-controller='profileController'>
  <div class="navBar">
    <a class="nav" href="#/login">Login</a>
  <a class="nav" href="#/search">Search</a>
  <a class="nav" href="#/profile">Profile</a>
  <a class="nav" href="#/taxi">Taxi</a>
</div>
  <h2>Hi, {{name}}</h2>
  <h3>Breweies visited</h3>
  {{displayName}}

  <p ng-repeat="name in getName">{{name.name}}
  <input type="radio" ng-model="rank" value="1" ng-change='newRank(rank, newLocation(name.place_id))'>1</input>
  <input type="radio" ng-model="rank" value="2" ng-change='newRank(rank, newLocation(name.place_id))'>2</input>
  <input type="radio" ng-model="rank" value="3" ng-change='newRank(rank, newLocation(name.place_id))'>3</input>
  <input type="radio" ng-model="rank" value="4" ng-change='newRank(rank, newLocation(name.place_id))'>4</input>
  <input type="radio" ng-model="rank" value="5" ng-change='newRank(rank, newLocation(name.place_id))'>5</input>
  <br>
  Current rank: {{name.rank}}
  </p>

</div>
