<div ng-controller='searchController'>
  <a href="#profile">Profile</a>
  <a href="#login">login</a>
  <div class="searchDiv">
  <form>
    <p>
      <label>Street Name: </label>
      <input type="text" ng-model="streetName"></input>
    </p>
    <p>
      <label>City: </label>
      <input type="text" ng-model="city"></input>
    </p>
    <p>
  <label>State: </label>
<select ng-model="stateInitial">
	<option>AL</option>
	<option>AK</option>
	<option>AZ</option>
	<option>AR</option>
	<option>CA</option>
	<option>CO</option>
	<option>CT</option>
	<option>DE</option>
	<option>DC</option>
	<option>FL"</option>
	<option>GA</option>
	<option>HI</option>
	<option>ID</option>
	<option>IL</option>
	<option>IN</option>
	<option>IA</option>
	<option>KS</option>
	<option>KY</option>
	<option>LA</option>
	<option>ME</option>
	<option>MD</option>
	<option>MA</option>
	<option>MI</option>
	<option>MN</option>
	<option>MS</option>
	<option>MO</option>
	<option>MT</option>
	<option>NE</option>
	<option>NV</option>
	<option>NH</option>
	<option>NJ</option>
	<option>NM</option>
	<option>NY</option>
	<option>NC</option>
	<option>ND</option>
	<option>OH</option>
	<option>OK</option>
	<option>OR</option>
	<option>PA</option>
	<option>RI</option>
	<option>SC</option>
	<option>SD</option>
	<option>TN</option>
	<option>TX</option>
	<option>UT</option>
	<option>VT</option>
	<option>VA</option>
	<option>WA</option>
	<option>WV</option>
	<option>WI</option>
	<option>WY</option>
  </select>
</p>
</form>
<p>
  <label>Search radius: </label>
<select ng-model="miles">
<option>5</option>
<option>10</option>
<option>25</option>
</select>
<label>miles<label>
</p>
<button ng-click="newSearch()">THE BEST SEARCH</button></p>
<a ng-repeat="name in list" href="#directions" ng-click="viewLocation(name)">{{name.name}}<br></a>
</div>
</div>
